<div class="atf" id="main">
<video>
</video>
  <div class="blocker">&nbsp;</div>
  <div class="cta">
    <div class="big copy">On April 21, the world's largest collaborative mosaic will pay tribute to the 2013 Boston Marathon on the walls of Boston's City Hall.</div>
    <a href="#" class="big pure-button primary">Add my image to the mosaic  <i class="fa fa-3 fa-camera"></i></a>
  </div>
</div>