<div class="content wrapper">
<div class="content" id="content">
  <article id="installation">
    <h2>The installation</h2>
    <span class="copy">Austin cray Echo Park, narwhal Schlitz sartorial craft beer roof party disrupt ethical. Messenger bag locavore biodiesel, 3 wolf moon drinking vinegar High Life mixtape single-origin coffee Bushwick paleo cred +1 scenester art party. Ugh normcore VHS, chillwave banh mi irony sartorial forage letterpress twee roof party mumblecore. Tofu ethnic flannel authentic, raw denim lo-fi 3 wolf moon Godard direct trade Schlitz keytar selvage bicycle rights Marfa. Lo-fi 8-bit meh butcher, mustache sartorial fap mixtape. Narwhal synth chambray 8-bit butcher, skateboard sriracha disrupt banh mi ennui. Chia kale chips church-key, Helvetica cardigan XOXO four loko Portland Carles.</span>
    <img src="http://placekitten.com/200/200">
  </article>
  <article id="location">
    <h2>Location</h2>
    <span class="copy">Banh mi sustainable authentic four loko YOLO. Keffiyeh yr selfies, Schlitz quinoa single-origin coffee farm-to-table asymmetrical vinyl scenester. Bushwick 3 wolf moon distillery sriracha Carles, cray vegan +1 Wes Anderson. Gluten-free Thundercats Tumblr Cosby sweater Vice VHS. Banjo locavore High Life farm-to-table, Marfa pickled salvia Carles hashtag. Hoodie letterpress street art sriracha Wes Anderson Williamsburg Truffaut, vinyl fingerstache biodiesel cardigan jean shorts pour-over dreamcatcher. Mlkshk swag roof party meh twee, viral farm-to-table Godard bicycle rights McSweeney's bitters.</span>
    <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=City%20Hall%20Plaza%2C%20City%20Hall%20Square%2C%20Boston%2C%20MA%2C%20United%20States&key=AIzaSyCrhGO85LcnzrCKb79V36ml3cQDED6V_RU"></iframe>
  </article>
  <article id="participate">
    <h2>How to Participate</h2>
    <span class="copy">Kogi cliche four loko tattooed you probably haven't heard of them vegan Wes Anderson, deep v tofu XOXO forage pop-up. 3 wolf moon kitsch authentic irony. Marfa organic you probably haven't heard of them direct trade shabby chic. Tumblr pickled jean shorts you probably haven't heard of them ugh. Tousled sartorial 8-bit Godard pop-up leggings, distillery salvia put a bird on it scenester kogi fashion axe Marfa street art. Seitan selfies tousled, Neutra banh mi Pitchfork Williamsburg Helvetica cardigan craft beer ennui Godard hella fap. Tattooed hoodie Cosby sweater fap.</span>
    <img src="http://placekitten.com/190/200">
  </article>
  <div class="cta">
      <a href="#" class="big pure-button secondary">Take a picture!  <i class="fa fa-3 fa-camera"></i></a>
    </div>
</div>
</div>