<div class="footer wrapper">
<footer>
  <div class="left">
    <ul>
      <h2>About us:</h2>
      <li><a href="#">emagcollab home</a></li>
      <li><a href="#">the team</a></li>
      <li><a href="#">copyright and business info</a></li>
    </ul>
  </div>
  <div class="right">
    <ul>
      <h2>Thanks to:</h2>
      <li><a href="#">the Mayor's office</a></li>
      <li><a href="#">the BAA and its volunteers</a></li>
      <li><a href="#">you and all other participants <i class="fa fa-smile-o"></i></a></li>
    </ul>
  </div>
</footer>
</div>