<div class="header wrapper">
  <header>
  <nav>
    <ul>
      <li class="logo"><a href="#">EMAGCOLLAB</a></li>
      <li><a href="#installation">the installation</a></li>
      <li><a href="#location">the locations</a></li>
      <li><a href="#participate">how to participate </a></li>
    </ul>
  </nav>
</header>
</div>