<div class="sponsors wrapper">
  <div class="sponsors" id="sponsors">
    <span><img src="images/logo_baa.png"></span>
    <span><img src="images/logo_sketchers.png"></span>
    <span><img src="images/logo_nike.png"></span>
    <span><img src="images/logo_mayor.png"></span>
  </div>
</div>